@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap");
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv2 Gothic Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

/*
COLORS
 
 

*/
:root {
  --color-primary: #F8CD07;
  --color-white: #F0F0F0;
  --color-black: black;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: 'NEXON Lv2 Gothic';
  background-color: var(--color-white);
  line-height: 1.7;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
}

main {
  background-color: #E4E4E4;
  margin-left: 30vw;
  padding: 3vh 12vh 3vh 12vh;
}

.container {
  height: 94vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3vh 5vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container:not(:last-child) {
  margin-bottom: 3vh;
}

.header {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 2rem 0 2rem;
  color: #3e3e3e;
}

.header__title {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  line-height: 6.5vh;
  font-weight: 600;
  margin-bottom: 1rem;
}

.header__title-first-line {
  font-size: 3rem;
  font-weight: 550;
}

.header__title-daeun {
  font-family: 'NEXON Lv2 Gothic Bold';
  font-size: 3.5rem;
  -webkit-text-decoration: underline 1rem var(--color-primary);
          text-decoration: underline 1rem var(--color-primary);
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main-img {
  max-width: 25rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
}

.header__main-introduce {
  font-size: 1.5rem;
  line-height: 1.7;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}

.header__main-introduce-thick {
  font-size: 2rem;
  color: black;
}

.header__main-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.header__main-information-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  padding-left: 1.5rem;
  list-style: none;
}

.header__main-information-ul > * {
  margin-bottom: 0.5rem;
}

.header__link {
  width: 60%;
  position: absolute;
  top: 90%;
}

.header__link-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__link-ul > * {
  cursor: pointer;
  margin-right: 1rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  list-style: none;
  color: var(--color-black);
  opacity: 0.5;
  border-bottom: 0.15rem solid rgba(0, 0, 0, 0.8);
}

.header__link-ul > *:hover {
  opacity: 1;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.content__title {
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  color: #3E3E3E;
  width: 100%;
  border-bottom: 0.2rem solid var(--color-primary);
  margin-bottom: 1rem;
}

.content__title-min {
  text-transform: uppercase;
  padding-left: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .5rem;
}

.content__title-min-span {
  font-family: 'NEXON Lv2 Gothic Bold';
  font-size: 2rem;
  font-weight: 800;
}

.content__subtitle {
  color: #3E3E3E;
  padding-left: 2rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.content__subtitle-explan {
  padding-left: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.content__subtitle-explan > * {
  margin-bottom: 2vh;
  font-weight: 600;
  color: #3E3E3E;
}

.content__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__sort-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.zhuro {
  text-decoration: none;
  font-weight: 600;
  color: black;
  -webkit-text-decoration: underline 0.4vh black;
          text-decoration: underline 0.4vh black;
  -webkit-transition: all ,1s linear;
  transition: all ,1s linear;
  cursor: pointer;
}

.zhuro:hover {
  background-color: var(--color-primary);
}

#badge {
  font-size: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3e3e3e;
}

#check {
  font-size: 2vh;
  font-weight: 900;
  color: var(--color-primary);
  margin-right: 1vh;
}

.bold {
  font-weight: 600;
}

.back-ani {
  text-decoration: none;
  font-size: 2vh;
  font-weight: 600;
  color: black;
  border-bottom: 2px solid black;
  -webkit-transition: all ,1s linear;
  transition: all ,1s linear;
  cursor: pointer;
}

.back-ani:hover {
  background-color: var(--color-primary);
}

.aboutme {
  line-height: 1.7;
  font-size: 1.5rem;
}
