//////////////////////////////////////////////////////////
//////HEADER
.header{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 0 2rem;
    color: rgb(62, 62, 62);

    &__title{
        
        font-size:2.5rem;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        line-height: 6.5vh; 
        font-weight: 600;
        margin-bottom: 1rem;
    }
    &__title-first-line{
        font-size: 3rem;
        font-weight: 550;
    }

    &__title-daeun{
        font-family: 'NEXON Lv2 Gothic Bold';
        font-size:3.5rem;
        text-decoration:underline 1rem var(--color-primary);
    }
    &__main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__main-img{
        max-width: 25rem;
        margin-top: 2rem;
        margin-bottom: 1.4rem;
    }

    

    &__main-introduce{
        font-size: 1.5rem;
        line-height: 1.7;
        font-weight: 600;

        margin-bottom: 3rem;
        text-align: center;

    }
    
    &__main-introduce-thick{
        font-size: 2rem;
        color:black;
    }

    &__main-information{
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;

       
    }
    
  

    &__main-information-ul{
        display: flex;
        flex-direction: column;
        padding-top: 1.4rem;
        justify-content: center;
        font-size:1.5rem;
        font-weight:600;
        margin-bottom: 20px;
        padding-left: 1.5rem;
        list-style: none;

        & > *{
            margin-bottom: 0.5rem;
        }
    }

    &__link{
        
        width: 60%;
        position: absolute;
        top: 90%;
        
    }

    &__link-ul{
            display:flex;
            flex-wrap:wrap;
            
            & > *{
              cursor: pointer;
              margin-right: 1rem;
              padding-bottom: .5rem;
              margin-bottom: 1rem;
              font-size:1.4rem;
              list-style: none;
              color:var(--color-black);
              opacity: 0.5;
              border-bottom: .15rem solid rgba(0, 0, 0, 0.8);
              &:hover {
                opacity: 1;
              }
            }
          
    }
}


//////////////////////////////////////////////////////////
/////CONTENT

.content{
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title{
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding-bottom: 1rem;
        font-size: 3rem;
        color: #3E3E3E;
        width: 100%;
        border-bottom: .2rem solid var(--color-primary);
        margin-bottom: 1rem;
        
    }

    &__title-min{
      text-transform: uppercase;
      padding-left: 1rem;
      width: 100%;
      display: flex;
      justify-content:space-between;
      margin-bottom: .5rem;
        
    }

    &__title-min-span{
        font-family: 'NEXON Lv2 Gothic Bold';
      
        font-size: 2rem;
        font-weight: 800;
        
    }

    &__subtitle{
        color: #3E3E3E;
        padding-left: 2rem;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }

    &__subtitle-explan{
        padding-left: 2rem;
        font-size: 1.6rem;
        font-weight: 500;

        & > *{
          margin-bottom: 2vh;
          font-weight: 600;
          color: #3E3E3E;
        }
    }

    &__sort{
        display: flex;
    }

    &__sort-1{
        flex: 1;
    }
}


//////////////////////////////////////////////////////////
/////zhuro
.zhuro{
    text-decoration: none;
    font-weight: 600;
    color:black;
    text-decoration:underline 0.4vh black;
    transition: all ,1s linear;
    cursor: pointer;
    &:hover {
      background-color: var(--color-primary);;
  }
}


//////////////////////////////////////////////////////////
/////ICON && FONT 

#badge{
    font-size: 13vh;
    display: flex;
    align-items: center;
    color:rgb(62, 62, 62);
}

#check{
    font-size: 2vh;
    font-weight: 900;
    color: var(--color-primary);
    margin-right: 1vh;
  }
  

  .bold{
    font-weight: 600;
  }

  //////////////////////////////////////////////////////////
/////ANI

.back-ani{
    text-decoration: none;
    font-size: 2vh;
    font-weight: 600;
    color:black;
    
    border-bottom: 2px solid black;
    transition: all ,1s linear;
    cursor: pointer;
    &:hover {
      background-color: var(--color-primary);;
      
    }
  }


  //////////////////////////////////////////////////////////
/////ABOUT ME 

.aboutme{
    line-height: 1.7;
    font-size: 1.5rem;
}
