
  header{
    position: fixed;
    top:0;
    left:0;
    width: 30%;
    height: 100%;
  }

  main{

  
    background-color:#E4E4E4;
    margin-left: 30vw;
    padding: 3vh 12vh 3vh 12vh;
  }

  .container{
    height:94vh;
    width: 100%;
    flex-direction: column;
    padding: 3vh 5vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &:not(:last-child){
        margin-bottom: 3vh;
    }
  }

  